In [1]:
#hw.describe() # Изучим числовые характеристики: std стандартное отклонение

NameError: name 'hw' is not defined

<div class="alert alert-info">
<strong>std - стандартное отклонение https://praktikum.yandex.ru/trainer/data-analyst/lesson/77c3ba61-6e40-459c-95e5-27fa510b1519/task/feb76b1d-80c8-4342-84eb-b033b915e2f1/</strong> </div>

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Инструкция по выполнению

#### Шаг 1. Изучим общую информацию о данных

#### Шаг 2. Предобработка данных
- определим и заполним пропущенные значения:
- описать, какие пропущенные значения вы обнаружили;
- привести возможные причины появления пропусков в данных;
- объяснить, по какому принципу заполнены пропуски;
- заменить вещественный тип данных на целочисленный:
- пояснить, как выбирали метод для изменения типа данных;
- удалить дубликаты:
- пояснить, как выбирали метод для поиска и удаления дубликатов в данных;
- привести возможные причины появления дубликатов;
- выделить леммы в значениях столбца с целями получения кредита:
- описать, как вы проводили лемматизацию целей кредита;
- категоризировать данные:
- перечислить, какие «словари»  выделили для этого набора данных,  почему.
- В данных могут встречаться артефакты — значения, которые не отражают действительность. Например, отрицательное количество дней трудового стажа. Для реальных данных — это нормально. Нужно описать возможные причины появления таких данных и обработать их.

#### Шаг 3. Вопросы   

- Есть ли зависимость между наличием детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?
- Ответы сопроводить интерпретацией — пояснить, о чём именно говорит полученный результат.

#### Шаг 4. Написать общий вывод

#### Описание данных

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [3]:
import pandas as pd
from IPython.display import display
from pymystem3 import Mystem
from collections import Counter

data = pd.read_csv('/datasets/data.csv')

#print(data.head()) #смотрим голову
#print('_____________________')
#print(data.tail(5)) # смотрим хвостъ
#print(data.info()) # смотрим инфу о элементах
#print(data.columns) # смотрим заголовки столбцов на пробелы
#print(data.isnull().sum()) # смотрим количество пропушенных значений и где они находятся
#print(data.isna().sum()) # тоже смотрим количество пропушенных значений и где они находятся
data # посмотреть всю базу целиком

ModuleNotFoundError: No module named 'pymystem3'

### Вывод

Обнаружены пропуски в столбцах days_employed и total_income, их количества равны.  Возможно люди никогда не работали и на получали доход. Но это вывод предварительный далее оценим эту мысль точнее 
В столбцах days_employed и total_income содержаться данные вещественного типа (float), а должны быть целочисленные тк врядли зарплата указывается до ста тысячных долей рубля и отработанные дни тоже

### Шаг 2. Предобработка данных

### Обработка пропусков

#### Отсортируем значения чтобы посмотреть позиции содержащие пропуски сортируем столбец по убыванию

In [ ]:
data.sort_values(by = 'days_employed', ascending = False).tail(15)

**Обнаружены пропуски в столбцах days_employed и total_income, их количества равны. Возможно люди никогда не работали и на получали доход.Люди имеюшие пропуски в столбцах days_employed- общий трудовой стаж в днях и total_income-ежемесячный доход старше 18 лет,поэтому врядли они нигде не работали и не получали зарплату скорее всего мы имеем дело с ошибкой ввода данных.
Заполним пропуски медианным значением**

#### Также обнаружены отрицательные значения в столбце  days_employed- общий трудовой стаж, скорее всего ошибка внесения , преобразуем их в положительные тк они могут повлиять на медиану.

In [ ]:
data['days_employed'] = data['days_employed'].apply(abs) # убираем отрицательные значения
data

**Были обнаружены отрицательные значения в количестве детей и так как я считаю что это ошибка внесения данных оператором так же приводим их к положительному значению**

In [ ]:
data['children'] = data['children'].apply(abs)

**Проверяем максимальное количество детей**

In [ ]:
print(data['children'].max())

**Вычисляем количество значений где количество детей 20**

In [ ]:
# count_child = data.pivot_table(index = ['children'], values = 'debt', aggfunc = ['count'])
# print(count_child)
print (len(data[data['children'] == 20]))

**Я думаю это ошибка вноса данных вместо 2 внесено 20 , меням 20 на 2**

In [ ]:
data.loc[data['children'] == 20, 'children'] = 2

# проверяем

print (len(data[data['children'] == 20]))

**Вычисляем медиану столбца days_employed- общий трудовой стаж и total_income**

In [ ]:
print(data['days_employed'].median())

In [ ]:
print(data['total_income'].median())

#### Проверим уровень максимального трудового стажа? сортируем столбец по убыванию

In [ ]:
data.sort_values(by = 'days_employed', ascending = False).head(15)

**или просто берем максимальные и минимальные элементы в столбце**

In [ ]:
print(data['days_employed'].max())
print(data['days_employed'].min())

**Существование стажа в 1 тысчу лет маловероятно, наличие таких цир связано скорее всего с технической ошибкой , возможно обьеденили 2 базы в одной из которых стаж считался в часах или минутах поэтому всплески на медианные значения
Средняя продолжительность жизни мужчин в 2019 году в России составила 68,5 лет. Для женщин показатель еще выше — 78,5 лет
возьмем максимальное значение для замены на медиану 70 лет стажа это 25550 дней**

In [ ]:
data.loc[data['days_employed'] > 25550, 'days_employed'] = data['days_employed'].median()
data.sort_values(by = 'days_employed', ascending = False).head(15)

#### Также меняем все пропущенные значения в days_employed- общий трудовой стаж в днях и total_income-ежемесячный доход на медианы этих столбцов

In [ ]:
data['days_employed'] = data['days_employed'].fillna(data['days_employed'].median()) # заменяем пропущенные значения в столбце days_employed(отработанные дни)
# на 0
#data['total_income'] = data['total_income'].fillna(data['total_income'].median()) # заменяем пропущенные значения в столбце total_income — ежемесячный доход
# на 0
print(data.isnull().sum()) # проверяем смотрим количество пропушенных значений и где они находятся
# print(data.info()) # еще раз проверяеv
display('Пустые до', data['total_income'].isnull().sum())

<div class="alert alert-info">
<strong>Смотрим категории заемщиков и пропуски</strong> </div>

In [ ]:
display(data['income_type'].value_counts())
#data_null_income = data.pivot_table(index = ['income_type'], values = 'total_income', aggfunc = [value_counts, isna])
#data_null_income = data.groupby('income_type').agg({'total_income':'isna'})
#print(data_null_income)

<div class="alert alert-info">
    <strong>Смотрим пропуски по типу занятости, может быть они одинаковы для всех и это ошибка , но если нет , чтобы не обрабатывать лишние значения
    Выявленная сума пропусков совпадает с data['total_income'].isnull().sum()</strong> </div>

In [ ]:
#print(data.info())
#data['total_income'] = data['total_income'].astype(int)
#print(data.info())
print('пенсионер',data.loc[data['income_type'] == 'пенсионер', 'total_income'].isna().value_counts())
print('сотрудник',data.loc[data['income_type'] == 'сотрудник', 'total_income'].isna().value_counts())
print('компаньон',data.loc[data['income_type'] == 'компаньон', 'total_income'].isna().value_counts())
print('госслужащий',data.loc[data['income_type'] == 'госслужащий', 'total_income'].isna().value_counts())
print('предприниматель',data.loc[data['income_type'] == 'предприниматель', 'total_income'].isna().value_counts())
print('безработный',data.loc[data['income_type'] == 'безработный', 'total_income'].isna().value_counts())
print('в декрете',data.loc[data['income_type'] == 'в декрете', 'total_income'].isna().value_counts())
print('студент',data.loc[data['income_type'] == 'студент', 'total_income'].isna().value_counts())


<div class="alert alert-info">
    <strong>Вычисляем медиану для каждой категории заемщиков. . Меняем пропуски в total_income == ....... на  медиану по категориям</strong> </div>

In [ ]:
#display('пенсионер',data.loc[data['income_type'] == 'пенсионер', 'total_income'].median())
#display('сотрудник',data.loc[data['income_type'] == 'сотрудник', 'total_income'].median())
display('Пустые до', data['total_income'].isnull().sum())

for _type in data['income_type'].unique():
    median = data.loc[data['income_type'] == _type, 'total_income'].median()
    print('Медианная зарплата {} {:.2f}'.format(_type, median))
    data.loc[(data['total_income'].isna()) & (data['income_type'] == _type), 'total_income'] = median

display('Пустые после', data['total_income'].isnull().sum())

#### Еще раз проверяем

In [ ]:
#data.sort_values(by = 'days_employed', ascending = False).tail(15)
data.sort_values(by = 'total_income', ascending = False).tail(100)

### Вывод

**Заменяем пропущенные данные столбцов days_employed — общий трудовой стаж в днях и total_income — ежемесячный доход  на медиану столбца, так как это возможно реальные клиенты с реальными показателями, Существование стажа в 1 тысчу лет маловероятно, наличие таких цир связано скорее всего с технической ошибкой , возможно обьеденили 2 базы в одной из которых стаж считался в часах или минутах поэтому так же как и пропуски меняем всплески на медианные значения**

### Замена типа данных

#### Меняем тип данных  в столбцах data['days_employed'] и data['total_income'] с float на int

In [ ]:
data['days_employed'] = data['days_employed'].astype(int) # меняем в столбце data['days_employed'] 
#вещественый тип float64 на int64
data['total_income'] = data['total_income'].astype(int) # меняем в столбце data['days_employed']
print(data.info())
#data[data.duplicated(keep = False)].sort_values(by = data.columns.values.tolist())

#### Еще метод Он превращает значения столбца в числовые типы float64 (вещественное число) или int64 (целое число) в зависимости от исходного значения.
У метода to_numeric() есть параметр errors. 
От значений, принимаемых errors, зависят действия to_numeric при встрече с некорректным значением:
`errors=raise' — дефолтное поведение: при встрече с некорректным значением выдаётся ошибка, операция перевода в числа прерывается  
`errors=coerce` — некорректные значения принудительно заменяются на NaN  
`errors=ignore` — некорректные значения игнорируются, но остаются  
https://praktikum.yandex.ru/trainer/data-analyst/lesson/208f2480-b9b2-4da3-bb77-2269882bdda5/task/11d58dfe-e6c3-46a9-929a-bdd252a53420/

In [ ]:
#transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce')

### Вывод

**В столбцах days_employed и total_income содержаться данные вещественного типа (float), а должны быть целочисленные тк врядли зарплата указывается до ста тысячных долей рубля и отработанные дни тоже
использован метод astype**

### Обработка дубликатов

#### выводим сумму дубликатов

In [ ]:
#print(data.duplicated())
# print('________________________________')
print(data.duplicated().sum())
data

#### Чтобы посмотреть все дубли можно сделать вот так. keep = False значит "оставь все дубликаты". 
**По умолчанию duplicated оставляет только первые совпадения.**

In [ ]:
#print(data[data.duplicted(keep = False)].sort_values(by = data.columns.values.tolist()))

<div class="alert alert-info" role="alert">
<strong>Ок проверим тип `object`</strong> </div>

In [ ]:
display(data['education'].value_counts())
print('__________________________________')
display(data['family_status'].value_counts())
print('__________________________________')
display(data['income_type'].value_counts())
print('__________________________________')
display(data['purpose'].value_counts())

<div class="alert alert-info">
<strong>Да действительно в образовании и семейном положении регистр гуляет, что повлияет на дальнейшую
обработку и анализ данных приводим всё к нижнему регистру </strong> </div>

In [ ]:
data['education'] = data['education'].str.lower()
data['family_status'] = data['family_status'].str.lower()

<div class="alert alert-info">
<strong>проверяем все ли изменилось</strong> </div>

In [ ]:
display(data['education'].value_counts())
print('__________________________________')
display(data['family_status'].value_counts())

<div class="alert alert-info">
    <strong>да , все в порядке</strong> </div>

#### удаляем дубликаты

In [ ]:
data = data.drop_duplicates().reset_index(drop=True)

<div class="alert alert-info">
<strong>Да действительно в образовании и семейном положении регистр гуляет, что повлияет на дальнейшую
обработку и анализ данных приводим всё к нижнему регистру </strong> </div>

#### проверяем удаление

In [ ]:
print(data.duplicated().sum()) # проверяем удалились ли дубликаты
#:
print(data[data.duplicated(keep = False)].sort_values(by = data.columns.values.tolist()))
data

### Вывод

**Дубликаты найдены, но вопрос в том стоит ли их удалять мб это совпадения реальных клиентов, а может быть и нет. Но я думаю что при таком количестве различных данных для каждого клиента реальные совпадения врядли возможны, поэтому удалил дубликаты. Причина возникновения , возможно ошибка оператора который их вносил. Либо если обьеденялись несколько баз в одну были внесены одни и теже клиенты. Также обнаружены внесения данных в разных регистрах**

### Лемматизация

#### импортируем библиотеки

In [ ]:
m = Mystem()
lemmas = m.lemmatize(data['purpose'][3])
print(lemmas)
print(len(data['purpose']))

#### берем только уникальные значения без дубликатов , уменьшаем размер списка

In [ ]:
uniq_purpose = data['purpose'].unique()
print(uniq_purpose)
#print(data['purpose'])

#### преобразуем массив в питоновский лист

In [ ]:
uniq_purpose = uniq_purpose.tolist()
print(uniq_purpose)

#### Функция для Лемматизации элементов массива uniq_purpose, используем extend вместо append и формируем переменную а не массив,
еще ---- m.lemmatize(' '.join(data['purpose'])) рекомендован еще такой вариант

In [ ]:
uniq_purpose_lemm = []
for i in uniq_purpose:
    uniq_purpose_lemm.extend(m.lemmatize(i))
    print(uniq_purpose_lemm)

#### подсчёт числа их упоминаний в тексте

In [ ]:
print(Counter(uniq_purpose_lemm))

**наиболее частые слова**
**образование недвижимость автомобиль жилье свадьба**

#### Функция для Лемматизации столбца data['purpose'] и меняем содержимое на леммы

In [ ]:
data # проверяем таблицу

In [ ]:
def lemm_purpose(row):
    if 'недвижимость' in m.lemmatize(row):
        return 'недвижимость'
           
    if 'автомобиль' in m.lemmatize(row):
        return 'автомобиль'
            
    if 'жилье' in m.lemmatize(row):
        return 'жилье'
            
    if 'свадьба' in m.lemmatize(row):
        return 'свадьба'
    
    if 'образование' in m.lemmatize(row):
        return 'образование'
             
    else: return 'другое'

#### применяем к столбцу data['purpose']  и проверяем

In [ ]:
data['purpose'] = data['purpose'].apply(lemm_purpose)
data

### Вывод

**Данные столбца data['purpose'] лемматизированы, цели для удобства сортировки отражены одним словом**

### Категоризация данных

#### Проводим категоризацию данных согласно заданию
####  Делаем сводную таблицу: влияние  количество детей клиента на факт погашения кредита
**Bстроим строку с процентами кто имел задолжность количество детей клиента  факт погашения кредита**

In [ ]:
data_child = data.pivot_table(index = ['children'], values = 'debt', aggfunc = [sum, 'count'])
#data_child = data.groupby(['children',]).agg({'debt':'sum','children':'count'})
data_child['%_total_debt'] = (data_child ['sum','debt']/data_child ['count','debt'])
#data_child.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_child.style.format({'% невозврата':'{:.2%}'})
#print(data_child)

####  Делаем сводную таблицу *семейное положение * - факт погашения кредита Bстроим строку с процентами кто имел задолжность *семейное положение * - факт погашения кредита

In [ ]:
data_family = data.groupby('family_status').agg({'debt':'sum', 'family_status':'count'})
data_family['%_total_debt'] = (data_family['debt']/data_family['family_status'])
data_family.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_family.style.format({'% невозврата':'{:.2%}'})
#print(data_family)

### Сделаем общую сводную таблицу c процентами

In [ ]:
data_child_family = data.groupby(['children', 'family_status']).agg({'debt':'sum', 'family_status':'count'})
data_child_family['%_total_debt'] = (data_child_family['debt']/data_child_family['family_status'])*100
data_child_family.columns = ['Кол. невозвр','Кол-во заемщиков','% невозврата']
#data_child_family.format({'Процент невозврата':'{:.2%}'})
display(data_child_family)

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
**установим уровни дохода средний высокий низкий**

In [ ]:
print(data['total_income'].max())

In [ ]:
print(data['total_income'].min())

In [ ]:
print(data['total_income'].median())

#### Пробуем найти кретерии для определения уровня зарплат  
* **от 0 до 33% уровня  низкая зарплата**
* **между 33% и 66% средняя зарплата**
* **66% и выше высокая зарплата**

In [ ]:
data_int_profit = data['total_income'].sort_values(ascending = False)
data_int_profit.quantile([0.33, 0.66])

**Делаем функцию разграничиваем уровень зарплат**

In [ ]:
def level_earn(row):
    if row < 122202:
        return 'Низкий уровень зарплаты'
    if 122202 <= row <= 169221:
        return 'Средний уровень зарплаты'
    if row > 169221:
        return 'Высокий уровень зарплаты'

**Меняем цифры в столбце**

In [ ]:
data['total_income'] = data['total_income'].apply(level_earn)
data

#### Сделаем общую сводную таблицу c процентами

In [2]:
data_profit = data.groupby('total_income').agg({'debt':'sum', 'total_income':'count'})
data_profit['%_total_debt'] = (data_profit['debt']/data_profit['total_income'])
data_profit.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_profit.style.format({'% невозврата':'{:.2%}'})
#display(data_profit)

NameError: name 'data' is not defined

### Как разные цели кредита влияют на его возврат в срок?

In [ ]:
data_goal = data.pivot_table(index = ['purpose'], values = 'debt', aggfunc = [sum, 'count'])
#data_child = data.groupby(['children',]).agg({'debt':'sum','children':'count'})
data_goal['%_total_debt'] = (data_goal['sum','debt']/data_goal['count','debt'])
data_goal.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_goal.style.format({'% невозврата':'{:.2%}'})
#print(data_child)

### Вывод

**Сводные таблицы сделаны данные представлены в удобном для чтения виде**

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [ ]:
data_child = data.pivot_table(index = ['children'], values = 'debt', aggfunc = [sum, 'count'])
data_child['%_total_debt'] = (data_child ['sum','debt']/data_child ['count','debt'])
data_child.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_child.style.format({'% невозврата':'{:.2%}'})

### Вывод

Существует небольшая зависимость между наличием детей и возвратом кредита в срок, люди с детьми допускают просрочки чаще чем люди без детей, но это разница исчезающе мала не исключено что это статистическая погрешность.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
data_family = data.groupby('family_status').agg({'debt':'sum', 'family_status':'count'})
data_family['%_total_debt'] = (data_family['debt']/data_family['family_status'])
data_family.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_family.style.format({'% невозврата':'{:.2%}'})

### Вывод

Семейное положение влияет на наличие задолжности по кредитам, не семейные люди чаще допускают просрочки.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
data_profit = data.groupby('total_income').agg({'debt':'sum', 'total_income':'count'})
data_profit['%_total_debt'] = (data_profit['debt']/data_profit['total_income'])
data_profit.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_profit.style.format({'% невозврата':'{:.2%}'})

### Вывод

Зависимости между уровнем дохода и возвратом кредита в срок практически нет, но тем не менее возможно что люди с высоким уровнем заработной платы допускаю больше просрочем связанно с тем что их финансовое положение позволяет им меньше беспокоится о штрафах и пенях за просрочку, но вполне возможно разница в цифрах является скорее всего статистической погрешностью

- Как разные цели кредита влияют на его возврат в срок?

In [ ]:
data_goal = data.pivot_table(index = ['purpose'], values = 'debt', aggfunc = [sum, 'count'])
#data_child = data.groupby(['children',]).agg({'debt':'sum','children':'count'})
data_goal['%_total_debt'] = (data_goal['sum','debt']/data_goal['count','debt'])
data_goal.columns = ['Кол-во невозвратов','Кол-во заемщиков','% невозврата']
data_goal.style.format({'% невозврата':'{:.2%}'})
#print(data_child)

### Вывод

Цели кредита влияют на его возврат в срок, кредиты на покупку жилья недвижимости а также свадьбы менее рискованные чем кредиты на покупку машины. Потому что решения на получения таких кредитов принимаються наиболее осознано.

### Шаг 4. Общий вывод

1. Обнаружены пропуски в столбцах days_employed и total_income, их количества равны. Возможно люди никогда не работали и на получали доход.Люди имеюшие пропуски в столбцах days_employed- общий трудовой стаж в днях и total_income-ежемесячный доход старше 18 лет,поэтому врядли они нигде не работали и не получали зарплату скорее всего мы имеем дело с ошибкой ввода данных. Поэтому заполним пропуски медианным значением.  Также обнаружены отрицательные значения в столбце  days_employed- общий трудовой стаж и в количестве детей, скорее всего ошибка внесения, были преобразованы в положительные тк они могут повлиять на медиану.  

**Рекомендую: обратить внимание операторов и разработчиков онлайн форм, необходим контроль за внесением данного типа данных.** 

2. Были обнаруженны  существенные всплески в значениях стажа. Существование стажа в 1 тысчу лет маловероятно, наличие таких цифр связано скорее всего с технической ошибкой , возможно обьеденили 2 базы в одной из которых стаж считался в часах или минутах поэтому всплески на заменил на медианные значения Средняя продолжительность жизни мужчин в 2019 году в России составила 68,5 лет. Для женщин показатель еще выше — 78,5 лет. Поэтому возьмем максимальное значение для замены на медиану 70 лет стажа это 25550 дней

**Рекомендую: обратить внимание на формат данных при обьединении баз данных.** 

3. В столбцах days_employed и total_income содержатся десятичные дроби до ста тысячных долей, а должны быть целочисленные тк зарплата в рублях и стаж в днях 

**Рекомендую: Возможно это возникает при преобразовании одного формата в другой. Возможно в каких то базах данных Стаж указывается в часах и зарплата в копейках, при преобразовании хорошо бы их приводить к целочисленному значению** 

4. В базе найдены дбликаты данных, но вопрос в том стоит ли их удалять мб это совпадения реальных клиентов, а может быть и нет. Но я думаю что при таком количестве различных данных для каждого клиента реальные совпадения врядли возможны, поэтому удалил дубликаты. Причина возникновения , возможно ошибка оператора который их вносил. Либо если обьеденялись несколько баз в одну были внесены одни и теже клиенты. Также обнаружены внесения данных в разных регистрах, все приведено к нижнему регистру для удобства сортировки , причина ошибка операторов при внесении.

**Рекомендую: обратить внимание операторов и разработчиков онлайн форм, необходим контроль за внесением данного типа данных.** 

5. Цели кредита лучше упростить до одного слова "свадьба, машина , недвижимость" это упростить и ускорит обработку

**Рекомендую: в анкетах заполняемых вручную и онлайн формах проставить готовые варианты ответов .** 

### При выдаче кредита необходимо:
1. Обращать внимание на семейное положения заемщика люди не побывавшие в браке более склонны допускать просрочки платежей.
2. Обращать внимание на доход заемщика люди с высоким уровнем дохода более склонны допускать просрочки платежей.
3. Обращать внимание на наличие детей у заемщика люди с длетьми более склонны допускать просрочки платежей.
4. Иметь ввиду что кредиты на покупку автомобиля и образование более рискованные чем на покупку недвижимости и свадьбы.

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.